@model Result

@{
    ViewBag.Title = "Result";
}

<div>
    <h2>Результаты теста</h2>
    <p>TestResultId: @Model.TestResultId</p>
    <p>UserId: @Model.UserId</p>
    <p>TestSettingId: @Model.TestSettingId</p>
    <p>CountCharacters: @Model.CountCharacters</p>
    <p>TotalTime: @Model.TotalTime</p>
    <p>Wpm: @Model.Wpm</p>
    <p>Accuracy: @Model.Accuracy</p>
</div>
